@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?upjzkn');
    src: url('../fonts/icomoon.eot?upjzkn#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?upjzkn') format('truetype'), url('../fonts/icomoon.woff?upjzkn') format('woff'), url('../fonts/icomoon.svg?upjzkn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    background-color: #f2f2f2;
}

/* 设置版心 */
.w {
    margin: 0 auto;
    width: 980px;
}

/* 头部部分开始 */
.head {
    width: 100%;
    height: 70px;
    background: #242424;
    min-width: 1100px;
}

header {
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
    margin: 0 auto;
    width: 1100px;
    height: 70px;
    line-height: 70px;
}

header>a {
    display: inline-block;
    width: 177px;
    height: 70px;
    background: url(../imgs/topbar.png) no-repeat 0 0;
}

header ul {
    display: inline-block;
}

header ul li {
    float: left;
}

header ul li a {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #ccc;
}

header ul li:hover {
    background-color: #000;
}

header ul li a:hover {
    color: #fff;
}

header>div {
    display: flex;
    font-size: 12px;
}

header>div .search {
    position: relative;
    margin-top: 19px;
    margin-left: 80px;
    width: 170px;
    height: 32px;
    border-radius: 18px;
    background-color: #fff;
}

header>div .search i {
    position: absolute;
    top: 7px;
    left: 12px;
    width: 20px;
    height: 20px;
    background: url(../imgs/topbar.png) no-repeat -7px -105px;
}

header ul li:last-child {
    position: relative;
}

header ul li:last-child span {
    position: absolute;
    top: 18px;
    right: -25px;
    width: 28px;
    height: 15px;
    border-radius: 15px;
    background-color: red;
    background: url(../imgs/topbar.png) no-repeat -190px 0;
}

header>div .search input {
    position: absolute;
    top: 0;
    left: 33px;
    width: 120px;
    height: 30px;
    font-size: 12px;
}

header>div a:nth-child(2) {
    margin: 19px 10px 0 10px;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    color: #ccc;
    border: 1px solid #4F4F4F;
}

header>div a:nth-child(2):hover {
    border: 1px solid #fff;
    color: #fff;
}

header>div a:nth-child(3) {
    color: #787878;
}

header>div a:nth-child(3):hover {
    text-decoration: underline;
}

/* 头部制作部分结束 */

/* 2、nav 部分开始 */

nav {
    width: 100%;
    height: 35px;
    background-color: #C20C0C;
}

nav .center {
    margin: 0 auto;
    width: 700px;
    height: 100%;
}

nav .center ul li {
    float: left;
    margin: 0 18px;
    line-height: 34px;
}

nav .center ul li a {
    padding: 3px 12px;
    font-size: 12px;
    color: #fff;
    border-radius: 20px;
}

nav .center ul li a:hover {
    background-color: #9B0909;
}

/* nav 部分结束 */

/* 底部部分开始 */
footer {
    width: 100%;
    height: 173px;
    min-width: 1100px;
    border-top: 1px solid #ccc;

    background-color: #f2f2f2;
}

footer .footer-center{
    display: flex;
    margin: 18px auto;
    width: 980px;
    height: 115px;
    font-size: 12px;
    color: #666;
}

footer .footer-center .footer-word div {
    margin-bottom: 10px;
}

footer .footer-center .footer-word a{
    color: #666;
}

footer .footer-center .footer-word a:hover {
    text-decoration: underline;
}

footer .footer-center .footer-word div:first-child ul li {
    float: left;
    border-right: 1px solid #ccc;
    padding: 0 15px;
}

footer .footer-center .footer-word div:first-child ul li a { 
    color: #999;
}

footer .footer-center .footer-word div:first-child ul li:first-child{
    padding-left: 0;
}

footer .footer-center .footer-word div:nth-child(4) i {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../imgs/police.png) no-repeat 0 0;
    background-size: 14px 14px;
}


footer .footer-center .footer-icon {
    margin: 20px 0 0 55px;
}

footer .footer-center .footer-icon ul li {
    float: left;
    margin-right: 10px;
}

footer .footer-center .footer-icon ul li a {
    display: block;
    width: 50px;
    height: 45px; 
    background: url(../imgs/foot_enter_new.png) no-repeat -63px -456px;
    background-size: 110px 552px;
}

footer .footer-center .footer-icon ul li span {
    display: inline-block;
    margin-top: 5px;
    width: 72px;
    height: 14px;
    background-size: 180px 139px;
}

footer .footer-center .footer-icon ul li:first-child span {
    margin-left: -5px;
    margin-right: 2px;
    background: url(../imgs/foot_enter_tt.png) no-repeat 0 -108px;
    background-size: 180px 139px;

}

footer .footer-center .footer-icon ul li:nth-child(n+2) span {
    background: url(../imgs/foot_enter_tt.png) no-repeat -1px -91px;
    background-size: 180px 139px;
}

/* 底部部分结束 */

/* 隐藏的播放设置部分开始 */

.play-hid {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #9b9b9b;
    transition: all .5s;
    background-color: #303030;
}

.play-hid>div {
    height: 100%;
    background-color: silver;
}

.play-hid>div>div {
    float: left;
}

.play-hid>div .play-left {
    width: 137px;
    height: 100%;
    line-height: 50px;
    background-color: green;
}

.play-hid>div .play-left a {
    vertical-align: middle;
    margin-right: 8px;
}


.play-hid>div .play-left a:nth-child(odd) {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: red;
}

.play-hid>div .play-left a:nth-child(even) {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: #fff;
}

.play-hid>div .play-left a:nth-child(1) {
    background: url(../imgs/playbar.png) no-repeat 0 -130px;;
}

.play-hid>div .play-left a:nth-child(2) {
    background: url(../imgs/playbar.png) no-repeat 0 -204px;
}

.play-hid>div .play-left a:nth-child(3) {
    background: url(../imgs/playbar.png) no-repeat -80px -130px;
}

.play-hid>div .play-middle {
    padding-top: 8px;
    height: 100%;

}

.play-hid>div .play-middle a {
    vertical-align: top;
    font-size: 12px;
    color: #9b9b9b;
}

.play-hid>div .play-middle a:hover {
    text-decoration: underline;
}

.play-hid>div .play-middle a:first-child img {
    float: left;
    margin-right: 12px;
    width: 34px;
    height: 35px;
    border-radius: 4px;
    vertical-align: top;
}

.play-hid>div .play-middle a:nth-child(2) {
    color: #fff;
    margin-right: 5px;
}

.play-hid>div .play-middle a:nth-child(5) {
    display: inline-block;
    margin-left: 12px;
    width: 14px;
    height: 15px;
    background: url(../imgs/playbar.png) no-repeat -110px -103px;;
}

/* 493 9 */
/* 隐藏的播放设置部分结束 */