@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?4gb7w');
    src: url('../fonts/icomoon.eot?4gb7w#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?4gb7w') format('truetype'), url('../fonts/icomoon.woff?4gb7w') format('woff'), url('../fonts/icomoon.svg?4gb7w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    background-color: #f2f2f2;
}

/* 设置版心 */

.w {
    margin: 0 auto;
    width: 980px;
}

/* 头部部分开始 */

.head {
    width: 100%;
    height: 70px;
    background: #242424;
    min-width: 1100px;
}

header {
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
    margin: 0 auto;
    width: 1100px;
    height: 70px;
    line-height: 70px;
}

header>a {
    display: inline-block;
    width: 177px;
    height: 70px;
    background: url(../imgs/topbar.png) no-repeat 0 0;
}

header ul {
    display: inline-block;
}

header ul li {
    float: left;
}

header ul li a {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #ccc;
}

header ul li:hover {
    background-color: #000;
}

header ul li a:hover {
    color: #fff;
}

header>div {
    display: flex;
    font-size: 12px;
}

header>div .search {
    position: relative;
    margin-top: 19px;
    margin-left: 80px;
    width: 170px;
    height: 32px;
    border-radius: 18px;
    background-color: #fff;
}

header>div .search>i {
    position: absolute;
    top: 7px;
    left: 12px;
    width: 20px;
    height: 20px;
    background: url(../imgs/topbar.png) no-repeat -7px -105px;
}

header ul li:last-child {
    position: relative;
}

header ul li:last-child span {
    position: absolute;
    top: 18px;
    right: -25px;
    width: 28px;
    height: 15px;
    border-radius: 15px;
    background-color: red;
    background: url(../imgs/topbar.png) no-repeat -190px 0;
}

header>div .search input {
    position: absolute;
    top: 0;
    left: 33px;
    width: 120px;
    height: 30px;
    font-size: 12px;
}

/* 隐藏的搜索信息 */

header>div .search .search-hid {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 999;
    width: 240px;
    /* height: 303px; */
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
}

header>div .search .search-hid .relate-user {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    color: #666;
    border-bottom: 1px solid #ccc;
}

header>div .search .search-hid .relate-song {
    display: flex;
    width: 100%;
    /* height: 110px; */
}

header>div .search .search-hid .relate-song span, header>div .search .search-hid .relate-singer span, header>div .search .search-hid .relate-ablum span, header>div .search .search-hid .relate-playlists span {
    padding: 8px 0 0 10px;
    width: 54px;
    line-height: normal;
}

header>div .search .search-hid .relate-song span i {
    display: inline-block;
    width: 14px;
    height: 15px;
    background: url(../imgs/icon.png) no-repeat -35px -300px;
}

header>div .search .search-hid .relate-song ul {
    flex: 1;
    border: 1px solid #ccc;
}

header>div .search .search-hid .relate-song ul li {
    width: 182px;
    height: 28px;
    line-height: 28px;
    padding: 5px 0 5px 8px;
    /* 以下三行代码实现文本溢出是显示省略号的效果 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

header>div .search .search-hid ul li:hover {
    background-color: #ccc;
    cursor: pointer;
}

header>div .search .search-hid .relate-singer {
    display: flex;
    width: 100%;
    /* height: 32px; */
}

header>div .search .search-hid .relate-singer span i {
    display: inline-block;
    width: 14px;
    height: 15px;
    background: url(../imgs/icon.png) no-repeat -50px -300px;
}

header>div .search .search-hid .relate-singer ul {
    flex: 1;
    border-left: 1px solid #ccc;
    line-height: 32px;
    background-color: #f9f8f8;
}

header>div .search .search-hid .relate-ablum {
    display: flex;
    width: 100%;
    /* height: 60px; */
}

header>div .search .search-hid .relate-ablum i {
    display: inline-block;
    width: 14px;
    height: 15px;
    background: url(../imgs/icon.png) no-repeat -35px -320px;
}

header>div .search .search-hid .relate-ablum ul {
    flex: 1;
    border: 1px solid #ccc;
}

header>div .search .search-hid .relate-ablum ul li, header>div .search .search-hid .relate-playlists ul li, header>div .search .search-hid .relate-singer ul li {
    width: 182px;
    height: 28px;
    padding: 5px 0 5px 8px;
    line-height: 28px;
    /* 以下三行代码实现文本溢出是显示省略号的效果 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

header>div .search .search-hid .relate-playlists {
    display: flex;
    width: 100%;
    /* height: 60px; */
}

header>div .search .search-hid .relate-playlists span i {
    display: inline-block;
    width: 14px;
    height: 15px;
    background: url(../imgs/icon.png) no-repeat -50px -320px;
}

header>div .search .search-hid .relate-playlists ul {
    flex: 1;
    border: 1px solid #ccc;
    background-color: #f9f8f8;
}

header>div a:nth-child(2) {
    margin: 19px 10px 0 10px;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    color: #ccc;
    border: 1px solid #4F4F4F;
}

header>div a:nth-child(2):hover {
    border: 1px solid #fff;
    color: #fff;
}

header>div .open-load {
    position: relative;
    margin-top: 19px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: pink;
    color: #787878;
}

header>div .open-load:hover {
    text-decoration: underline;
    cursor: pointer;
}

header>div .open-load img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* 登录成功时经过用户头像显示的内容开始 */

header>div .open-load .hid-userinf {
    display: none;
    position: absolute;
    top: 30px;
    left: -55px;
    z-index: 999;
    width: 160px;
    height: 242px;
    background-color: #2b2b2b;
}

header>div .open-load .hid-userinf ul li {
    width: 100%;
    height: 34px;
    color: #ccc;
}

header>div .open-load .hid-userinf ul li:hover {
    background-color: #353535;
    cursor: pointer;
}

/* 头部制作部分结束 */

.load-main .erweima {
    margin-top: 38px;
    width: 530px;
    height: 220px;
}

.load-main .erweima .phone {
    float: left;
    margin-left: 100px;
    width: 125px;
    height: 220px;
    background: url(../imgs/qr_guide.png) no-repeat;
    background-size: contain;
}

.load-main .erweima .load-erweima {
    float: left;
    margin-left: 30px;
    width: 200px;
    height: 220px;
    text-align: center;
}

.load-main .erweima .load-erweima p {
    font-size: 18px;
    font-weight: 500;
}

.load-main .erweima .load-erweima .picture-erweima {
    margin: 15px 0 5px 35px;
    width: 130px;
    height: 130px;
    background-color: pink;
}

.load-main .erweima .load-erweima span {
    font-size: 12px;
    color: #00000066;
}

.load-main .erweima .load-erweima span a {
    color: #0c7372;
}

.load-main .erweima .load-erweima span a:hover {
    text-decoration: underline;
}

.load-main .load-other {
    margin: 10px auto;
    width: 120px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.load-main .load-other a {
    color: #000000cc;
}

/* nav 部分开始 */

nav {
    width: 100%;
    height: 36px;
    background-color: #C20C0C;
}

nav .center {
    margin: 0 auto;
    width: 700px;
    height: 100%;
}

nav .center ul li {
    float: left;
    margin: 0 18px;
    line-height: 34px;
}

nav .center ul li a {
    padding: 3px 12px;
    font-size: 12px;
    color: #fff;
    border-radius: 20px;
}

nav .center ul li a:hover {
    background-color: #9B0909;
}

/* nav 部分结束 */

/* 底部部分开始 */

footer {
    width: 100%;
    height: 173px;
    min-width: 1100px;
    border-top: 1px solid #ccc;
    background-color: #f2f2f2;
}

footer .footer-center {
    display: flex;
    margin: 18px auto;
    width: 980px;
    height: 115px;
    font-size: 12px;
    color: #666;
}

footer .footer-center .footer-word div {
    margin-bottom: 10px;
}

footer .footer-center .footer-word a {
    color: #666;
}

footer .footer-center .footer-word a:hover {
    text-decoration: underline;
}

footer .footer-center .footer-word div:first-child ul li {
    float: left;
    border-right: 1px solid #ccc;
    padding: 0 15px;
}

footer .footer-center .footer-word div:first-child ul li a {
    color: #999;
}

footer .footer-center .footer-word div:first-child ul li:first-child {
    padding-left: 0;
}

footer .footer-center .footer-word div:nth-child(4) i {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../imgs/police.png) no-repeat 0 0;
    background-size: 14px 14px;
}

footer .footer-center .footer-icon {
    margin: 20px 0 0 55px;
}

footer .footer-center .footer-icon ul li {
    float: left;
    margin-right: 10px;
}

footer .footer-center .footer-icon ul li a {
    display: block;
    width: 50px;
    height: 45px;
    background: url(../imgs/foot_enter_new.png) no-repeat -63px -456px;
    background-size: 110px 552px;
}

footer .footer-center .footer-icon ul li span {
    display: inline-block;
    margin-top: 5px;
    width: 72px;
    height: 14px;
    background-size: 180px 139px;
}

footer .footer-center .footer-icon ul li:first-child span {
    margin-left: -5px;
    margin-right: 2px;
    background: url(../imgs/foot_enter_tt.png) no-repeat 0 -108px;
    background-size: 180px 139px;
}

footer .footer-center .footer-icon ul li:nth-child(n+2) span {
    background: url(../imgs/foot_enter_tt.png) no-repeat -1px -91px;
    background-size: 180px 139px;
}

/* 底部部分结束 */

/* 隐藏的播放设置部分开始 */
/* body {
    min-width: 1536px !important; 
} */

.play-hid {
    position: fixed;
    bottom: -62px;
    width: 100%;
    height: 50px;
    min-width: 1536px;
    color: #9b9b9b;
    transition: all .5s;
    background-color: rgba(41, 41, 41, .8);
}

.play-hid>div {
    min-width: 980px;
    height: 100%;
}

.play-hid>div>div {
    float: left;
}

.play-hid>div .play-left {
    width: 137px;
    height: 100%;
    line-height: 50px;
}

.play-hid>div .play-left a {
    vertical-align: middle;
    margin-right: 8px;
}

.play-hid>div .play-left a:nth-child(odd) {
    display: inline-block;
    width: 28px;
    height: 28px;
}

.play-hid>div .play-left a:nth-child(even) {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: #fff;
}

.play-hid>div .play-left a:nth-child(1) {
    background: url(../imgs/playbar.png) no-repeat 0 -130px;
    ;
}

.play-hid>div .play-left a:nth-child(2) {
    background: url(../imgs/playbar.png) no-repeat 0 -204px;
}

.play-hid>div .play-left a:nth-child(3) {
    background: url(../imgs/playbar.png) no-repeat -80px -130px;
}

.play-hid>div .play-middle {
    padding-top: 8px;
    height: 100%;
}

.play-hid>div .play-middle a {
    vertical-align: top;
    font-size: 12px;
    color: #9b9b9b;
}

.play-hid>div .play-middle a:hover {
    text-decoration: underline;
}

.play-hid>div .play-middle a:first-child img {
    float: left;
    margin-right: 12px;
    width: 34px;
    height: 35px;
    border-radius: 4px;
    vertical-align: top;
}

.play-hid>div .play-middle a:nth-child(2) {
    color: #fff;
    margin-right: 5px;
}

.play-hid>div .play-middle a:nth-child(5) {
    display: inline-block;
    margin-left: 12px;
    width: 14px;
    height: 15px;
    background: url(../imgs/playbar.png) no-repeat -110px -103px;
    ;
}

.play-hid>div .play-middle .bar {
    position: relative;
    margin-left: 46px;
    width: 493px;
    height: 9px;
    border-radius: 8px;
    background-color: rgba(41, 41, 41, .3);
}

.play-hid>div .play-middle .bar:hover {
    cursor: pointer;
}

.play-hid>div .play-middle .bar .processtime {
    position: absolute;
    top: 0;
    width: 0;
    height: 9px;
    border-radius: 8px;
    background-color: #c70c0c;
}

.play-hid>div .play-middle .bar .processcircle {
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    /* 小圆点局进度条对齐 */
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 6px solid #f6f6f6;
    background-color: #c70c0c;
}

.play-hid>div .play-middle .bar .processcircle:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px 2px #fff;
}

.play-hid>div .play-middle .bar i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}

.play-hid>div .play-middle .bar .now-time {
    right: -43px;
    color: #a1a1a1;
}

.play-hid>div .play-middle .bar .sum-time {
    right: -85px;
    color: #797979;
}

.play-hid>div .play-middle .bar i:nth-child(4) {
    right: -50px;
    color: #797979;
}

.play-hid>div .play-right {
    position: relative;
    float: right;
    padding-top: 11px;
    width: 186px;
    height: 100%;
}

.play-hid>div .play-right a {
    float: left;
    margin-right: 4px;
    width: 25px;
    height: 25px;
    background: url(../imgs/playbar.png);
}

.play-hid>div .play-right a:nth-child(1) {
    background-position: -88px -163px;
}

.play-hid>div .play-right a:nth-child(2) {
    background-position: -114px -163px;
}

.play-hid>div .play-right a:nth-child(3) {
    background-position: 2px -248px;
}

.play-hid>div .play-right a:nth-child(4) {
    background-position: -66px -248px;
}

.play-hid>div .play-right a:nth-child(5) {
    width: 60px;
    background-position: -42px -68px;
}


/* switch: 控制隐藏或显示 */

.play-hid .switch1 {
    position: absolute;
    top: -20px;
    right: 65px;
    width: 52px;
    height: 67px;
    background: url(../imgs/playbar.png) no-repeat 0 -380px;
}

.play-hid .switch2 {
    position: absolute;
    top: -15px;
    right: 80px;
    width: 20px;
    height: 20px;
    /* -80px -380px; */
    background: url(../imgs/playbar.png) no-repeat -80px -380px;
}

/* 隐藏的播放设置部分结束 */